<a href="https://colab.research.google.com/github/blensjash/blensjash/blob/main/sem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
myName = input("Enter your name: ")

Enter your name: blenda

In [34]:
print(f"welcome to the programming module {myName} , happy coding!")

welcome to the programming module blenda , happy coding!

In [31]:
num = 4
print(type(num),id(num))

<class 'int'> 132455521124688

In [17]:
num = 8
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 8.000 is 2.828

In [19]:
import random
print(random.randint(0,9))

2

In [20]:
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 5
5.00 kilometers is equal to 3.11 miles

In [21]:
fName = "Blenda"
lName = "Jashari"
age = "18"
print(fName,lName,str(age))

Blenda Jashari 18

In [24]:
ageText = str(18)
print(type(ageText))

<class 'str'>

In [25]:
num = 4
num = num * 2
num1 = num + 2
num1 = num1 + 3
print(num1)

13

In [26]:
print (2/3)

0.6666666666666666

In [27]:
print (2//3)

0

In [30]:
userLogIn = input ( "Enter username or email: ")
passLogIn = input ( "Enter your password:")

Enter username or email: blensjash
Enter your password:Eli54321

In [ ]:
"""
this is just a comment,
we close it with three more qutoation marks.
"""

In [ ]:
num1 = float (input ( ))